In [56]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
bet_db = 'basketball-final.sqlite'
conn = sqlite3.connect(bet_db)

In [58]:
players = 'SELECT * FROM Player'
players_df = pd.read_sql_query(players, conn)

In [59]:
offense = 'SELECT GAME_ID, TEAM_ABBREVIATION_AWAY, TEAM_ABBREVIATION_HOME, WL_AWAY, WL_HOME, FG_PCT_AWAY, FG_PCT_HOME, FT_PCT_AWAY, FT_PCT_HOME, OREB_AWAY, OREB_HOME, AST_AWAY, AST_HOME, PTS_AWAY, PTS_HOME FROM Game'
offense_df = pd.read_sql_query(offense, conn)
print(offense_df.head())

      GAME_ID TEAM_ABBREVIATION_AWAY TEAM_ABBREVIATION_HOME WL_AWAY WL_HOME  \
0  0024600001                    NYK                    HUS       W       L
1  0024600004                    NYK                    CHS       L       W
2  0024600003                    PIT                    BOM       L       W
3  0024600002                    BOS                    PRO       L       W
4  0024600005                    WAS                    DEF       W       L

   FG_PCT_AWAY  FG_PCT_HOME  FT_PCT_AWAY  FT_PCT_HOME OREB_AWAY OREB_HOME  \
0          NaN          NaN        0.769        0.552      None      None
1          NaN          NaN          NaN          NaN      None      None
2        0.222        0.339          NaN          NaN      None      None
3          NaN          NaN          NaN          NaN      None      None
4          NaN          NaN          NaN          NaN      None      None

  AST_AWAY AST_HOME  PTS_AWAY  PTS_HOME
0     None     None        68        66
1     None     None        47        63
2     None     None        51        56
3     None     None        53        59
4     None     None        50        33

In [60]:
bet_history = 'SELECT * FROM BettingOdds_History'
bet_history_df = pd.read_sql_query(bet_history, conn)
print(bet_history_df.head())

      GAME_ID                 Date HomeTeam AwayTeam  HomeSpread_AtOpen  \
0  0020700001  2007-10-30 00:00:00      SAS      POR              -12.5
1  0020700003  2007-10-30 00:00:00      GSW      UTA               -3.0
2  0020700002  2007-10-30 00:00:00      LAL      HOU                2.5
3  0020700004  2007-10-31 00:00:00      TOR      PHI               -6.5
4  0020700006  2007-10-31 00:00:00      IND      WAS               -1.5

   HomeSpread_AtClose  Over_AtOpen  Over_AtClose HomeML AwayML  2H_HomeSpread  \
0               -13.0        184.0         189.5  -1400    900           -5.0
1                -1.0        214.5         212.0   -120    100           -3.0
2                 5.0        191.0         199.0    190   -230            3.0
3                -6.5        190.0         191.0   -305    255           -2.0
4                 1.5        200.0         203.5    105   -125            1.0

   2H_Over
0     95.0
1    105.5
2     99.0
3     96.5
4    105.0